.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 300px;
    border: solid 1px black;
    border-radius: 5%;
    background-color: white;
    color: black;
    overflow: hidden;
  }
  
.card img {
    width: 100px;
    height: 100px;
  }
